@model List<Pharmacy>

@{
    int totalPaginas = (int)ViewBag.TotalPaginas;
    int paginaAtual = (int)ViewBag.PaginaAtual;
    string busca = ViewBag.Busca as string ?? "";
}

<form method="get">
    <input type="text" name="busca" value="@busca" placeholder="Buscar por nome"></input>
    <button type="submit">Buscar</button>
</form>

<div class="container">
    <div class="row-pt-4">
        <div class="col-6">
            <h2 class="text-primary">Lista de Farmacias</h2>
        </div>
        <div class="col-12 text-end">
            <a asp-controller="Pharmacy" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle">Cadastrar Farmácia</i>
            </a>
        </div>
    </div>

    <table class="table table-bordered table-striped">        
        <thead>
            <tr>
                <th>Código de Cadastro</th>
                <th>Razão Social</th>
                <th>Endereço</th>
                <th>Horário de atendimento</th>  
            </tr>
        </thead>

        <tbody class="table table-bordered table-striped">
            @foreach(var item in Model.OrderBy(u => u.Id))
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Nome</td>
                    <td>@item.Endereco</td>
                    <td>@item.Horario</td>
                    <td>
                        <a asp-controller="Pharmacy" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary mx-2">
                            <i class="bg-info bi-pencil-square">Editar Registro</i>
                        </a>
                        <a asp-controller="Pharmacy" asp-action="Delete" asp-route-id="@item.Id" class="btn-danger mx-2">
                            <i class="bi bi-trash-fill">Deletar Registro</i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>   
    </table>
    <div>
        Página:
        @for(int i = 1; i <= totalPaginas; i++)
        {
            <a asp-action="Index" asp-route-pagina="@i" asp-route-busca="@busca"
               class="@(i == paginaAtual ? "fw-bold" : "" )">@i</a>
            @(i < totalPaginas ? " | " : "")
        }
    </div>
</div>
